* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Navbar style*/
.navbar-dark {
  background-color: #050361;
  min-height: 8vh;
}

.myNav {
  margin-left: auto;
  margin-right: auto;
}

.myNavItem {
  width: 120px;
  margin: 0px 5px;
  text-align: center;
  border-radius: 5%;
}

.myNavItem:hover {
  background: rgba(153, 153, 153, 0.3);
}
.logoNav {
  margin-right: 10px;
}

/*Home style*/
.home {
  height: 92vh;
  background-color: #3533ad;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
  justify-content: space-between;
  text-align: center;


}

.slogan {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 50px 0px;
  text-align: center;
}


/*Presence style*/
.presence {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.listPresence {
  margin-right: 200px;
  margin-left: 10%;
}

.listDiversButton {
  margin-left: 10%;
  margin-top: 100px;
}

/*tracks Proposal Style*/
.tracksProposalContainer {
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 1%;
}

.tracksProposalTitle{
  margin-bottom: 40px;
}

.tracksProposalItem{
  margin-bottom: 3px;
}

.tableTracksConfirmed {
  width: 50%;
  margin: 30px auto;
}

.ola {
  display: flex;
}
